*
{
    margin: 0px auto; 
    padding: 0px auto;
    color: white;
    font-family: "Outfit", sans-serif;
   
} 
.container{
    height: 800px;
    width: 1410px;
    padding-top: 30px;
    background-color: rgb(14, 25, 45);

}
/* @media only screen and (min-width: 320px){ */
#body{
    height: 440px;
    width: 270px;
    margin-top: 100px;
    background-color: rgb(21,38,63);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px 10px rgb(10,19,37);
}
#top{
    height: 250px;
    padding-top: 20px;
  
}
img{
    height: 230px;
    width: 230px;
    padding-left: 20px;
  
  
}
#mid{
    height: 70px;
    padding: 0px 20px;
    text-align: left;
    font-weight: 300;
   
}

p{
    font-size: 14px;
    font-weight: 300;
    color: rgb(89, 108, 133);
    padding-top: 15px;

}
#flexthis{
    height: 30px;
    display: flex;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;

} 
#blurb{
    color: rgb(56,75,104);
    line-height: 10px;

}
#eth{
    color:rgb(17,183,185);
    font-weight: bold;
    
}
.divider {
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.25);

}
.profile-pic {
  width: 30px;
  height: 30px;
  border: 1px solid var(--clr-white);
  border-radius: 50%;
}
#footer{
    height: 40px;
    padding-top: 15px;
    font-weight:100;
    font-size: 0.6rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
  
    
}
#image{
    height: 30px;
    width: 40px;
    border: 1px solid white;
}
#name{
    height: 20px;
    width: 140px;
    margin-top: 10px;
    margin-right: 50px;
    border: 2px solid pink;
}
#creation-of{
    color: rgb(56,75,104);
    text-decoration: none;
    position: absolute;

}
h3{
  text-align: center;
  color: rgb(77,102,132);
  text-decoration: none;
  
}
/* .hover-mode{
    text-decoration: none;
} */
/* how do i take out the italics */