*
{
    margin: 0px auto; 
    padding: 0px auto;
    color: white;
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
}
    html {
        /* Colors */
        /* Primary */
        --Soft-blue: hsl(215, 51%, 70%);
        --Cyan: hsl(178, 100%, 50%);
    
        /* Neutral */
        --bg: hsl(217, 54%, 11%);
        --card: hsl(216, 50%, 16%);
        --line: hsl(215, 32%, 27%);
        --white: hsl(0, 0%, 100%);
    
        /* Font */
        --font-f: 'Outfit', sans-serif;
    }
    
    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--bg);
        color: var(--white);
        flex-direction: column;
        font-family: var(--font-f);
    }
    
    .card {
        width: 350px;
        height: auto;
        background: var(--card);
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 0 10px 100px 1px rgb(0, 0, 0, .1);
    }
    
    .img-bx {
        width: 100%;
        height: 286px;
        background-size: 100% 100%;
        border-radius: .5rem;
        margin-bottom: 1rem;
    }
    
    .view-bx {
        width: 100%;
        height: 100%;
        background: hsl(178, 100%, 50%, 50%);
        border-radius: .5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        opacity: 0;
        transition: opacity 400ms ease;
    }
    
    .img-bx:hover .view-bx {
        opacity: 1;
    }
    
    .title {
        margin-bottom: 1rem;
        font-weight: 600;
        cursor: pointer;
        transition: color 400ms ease;
    }
    
    .title:hover {
        color: var(--Cyan);
    }
    
    .para {
        font-size: 18px;
        color: var(--Soft-blue);
        line-height: 2rem;
        margin-bottom: 1rem;
        font-weight: 300;
    }
    
    .info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    
    .price,
    .days-left {
        display: flex;
        align-items: center;
    }
    
    .price img,
    .days-left img {
        margin-right: 10px;
    }
    
    .price {
        font-weight: 600;
        color: var(--Cyan);
    }
    
    .days-left {
        color: var(--Soft-blue);
    }
    
    .line {
        border: 1px solid var(--line);
        margin-bottom: 1rem;
    }
    
    .author {
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .photo-pro {
        width: 50px;
        height: 50px;
        border: 2px solid var(--white);
        border-radius: 50%;
        margin-right: 20px;
    }
    
    .credit {
        color: var(--Soft-blue);
        font-size: 14px;
    }
    
    .credit a {
        color: var(--white);
        text-decoration: none;
        font-weight: 400;
        transition: color 400ms ease;
    }
    
    .credit a:hover {
        color: var(--Cyan)
    }
    
    /* atribution */
    .attribution {
        color: #fff;
        margin: 2rem;
    }
    
    .attribution a {
        color: cyan;
    }
   
/* } 
.container{
    height: 800px;
    width: 1410px;
    padding-top: 30px;
    background-color: rgb(14, 25, 45);

} 
#body{
    height: 440px;
    width: 270px;
    margin-top: 100px;
    background-color: rgb(21,38,63);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px 10px rgb(10,19,37);
}
#top{
    height: 250px;
    padding-top: 20px;

  
}
img{
    height: 230px;
    width: 230px;
    padding-left: 20px;
    border-radius: 10px;
    overflow: auto;
 
}
#mid{
    height: 70px;
    padding: 0px 20px;
    text-align: left;
    font-weight: 300;
   
}

p{
    font-size: 14px;
    font-weight: 300;
    color: hsl(216, 20%, 60%);
    padding-top: 15px;

}
#flexthis{
    height: 30px;
    display: flex;

} 
#blurb{
    color: hsl(216, 20%, 60%);
    line-height: 20px;

}
#eth{
    color:rgb(21, 214, 218);
    font-size: 13px;
    font-weight: 600;
    
}
.profile-pic {
  width: 30px;
  height: 30px;
  
  border-radius: 50%;
  border: solid 2px white;
}
.line {
    border: 1px solid var(--line);
    margin-bottom: 1rem;
}
#footer{
    height: 40px;
    padding-top: 15px;
    font-weight:100;
    font-size: 0.6rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
  
    
}
#image{
    height: 30px;
    width: 40px;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border: 2px solid var(--white);
    border-radius: 50%;
   
}

#name{
    height: 20px;
    width: 140px;
    padding-right: 27px;
    margin-top: 10px;
    margin-right: 50px;

}
#creation-of{
    color: rgb(56,75,104);
    text-decoration: none;
    position: absolute;

}
h3{
  text-align: center;
  color: rgb(77,102,132);
  text-decoration: none;
  font-size: 12px;

}
h4{
    font-size: 18px;
}

a{
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    
  } 
 */
}